<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.msgmonitor.mapper.OpMsgmonitorMapper">
    
    <resultMap type="OpMsgmonitor" id="OpMsgmonitorResult">
        <result property="mesId"    column="mes_id"    />
        <result property="mesPhone"    column="mes_phone"    />
        <result property="sceneName"    column="scene_name"    />
        <result property="sceneId"    column="scene_id"    />
    </resultMap>

    <sql id="selectOpMsgmonitorVo">
        select mes_id, mes_phone, scene_name, scene_id from op_msgmonitor
    </sql>

    <select id="selectOpMsgmonitorList" parameterType="OpMsgmonitor" resultMap="OpMsgmonitorResult">
        <include refid="selectOpMsgmonitorVo"/>
        <where>  
            <if test="mesPhone != null  and mesPhone != ''"> and mes_phone = #{mesPhone}</if>
            <if test="sceneName != null  and sceneName != ''"> and scene_name like concat('%', #{sceneName}, '%')</if>
            <if test="sceneId != null  and sceneId != ''"> and scene_id = #{sceneId}</if>
        </where>
    </select>
    
    <select id="selectOpMsgmonitorById" parameterType="String" resultMap="OpMsgmonitorResult">
        <include refid="selectOpMsgmonitorVo"/>
        where mes_id = #{mesId}
    </select>
        
    <insert id="insertOpMsgmonitor" parameterType="OpMsgmonitor">
        insert into op_msgmonitor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mesId != null">mes_id,</if>
            <if test="mesPhone != null">mes_phone,</if>
            <if test="sceneName != null">scene_name,</if>
            <if test="sceneId != null">scene_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mesId != null">#{mesId},</if>
            <if test="mesPhone != null">#{mesPhone},</if>
            <if test="sceneName != null">#{sceneName},</if>
            <if test="sceneId != null">#{sceneId},</if>
         </trim>
    </insert>

    <update id="updateOpMsgmonitor" parameterType="OpMsgmonitor">
        update op_msgmonitor
        <trim prefix="SET" suffixOverrides=",">
            <if test="mesPhone != null">mes_phone = #{mesPhone},</if>
            <if test="sceneName != null">scene_name = #{sceneName},</if>
            <if test="sceneId != null">scene_id = #{sceneId},</if>
        </trim>
        where mes_id = #{mesId}
    </update>

    <delete id="deleteOpMsgmonitorById" parameterType="String">
        delete from op_msgmonitor where mes_id = #{mesId}
    </delete>

    <delete id="deleteOpMsgmonitorByIds" parameterType="String">
        delete from op_msgmonitor where mes_id in 
        <foreach item="mesId" collection="array" open="(" separator="," close=")">
            #{mesId}
        </foreach>
    </delete>

</mapper>