<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>

    <a> 测试测试 </a>

    <div>
        <input type="button" onclick="testjinwei()" value="测试经纬度转换">

    </div>

</div>
</body>

<script>
    //经度 longitude，Lon  纬度 latitude，Lat
    var pi = 3.14159265358979324;
    var a = 6378245.0;
    var ee = 0.00669342162296594323;
    /*判断是否在国内，不在国内则不做偏移*/
    // function outOfChina(lon, lat)
    // {
    //     alert("进入outOfChina方法");
    //     alert("lon"+lon);
    //     alert("lat"+lat);
    //
    //     if ((lon < 72.004 || lon > 137.8347)&&(lat < 0.8293 || lat > 55.8271)){
    //         return true;
    //     }else {
    //         return false;
    //     }
    // }
    // function transformLat(x,y)
    // {
    //     var ret = -100.0 + 2.0 * x + 3.0 * y + 0.2 * y * y + 0.1 * x * y + 0.2 * Math.sqrt(Math.abs(x));
    //     ret += (20.0 * Math.sin(6.0 * x * pi) + 20.0 * Math.sin(2.0 * x * pi)) * 2.0 / 3.0;
    //     ret += (20.0 * Math.sin(y * pi) + 40.0 * Math.sin(y / 3.0 * pi)) * 2.0 / 3.0;
    //     ret += (160.0 * Math.sin(y / 12.0 * pi) + 320 * Math.sin(y * pi / 30.0)) * 2.0 / 3.0;
    //     return ret;
    // }
    //
    // function transformLon(x,y)
    // {
    //     var ret = 300.0 + x + 2.0 * y + 0.1 * x * x + 0.1 * x * y + 0.1 * Math.sqrt(Math.abs(x));
    //     ret += (20.0 * Math.sin(6.0 * x * pi) + 20.0 * Math.sin(2.0 * x * pi)) * 2.0 / 3.0;
    //     ret += (20.0 * Math.sin(x * pi) + 40.0 * Math.sin(x / 3.0 * pi)) * 2.0 / 3.0;
    //     ret += (150.0 * Math.sin(x / 12.0 * pi) + 300.0 * Math.sin(x / 30.0 * pi)) * 2.0 / 3.0;
    //     return ret;
    // }
    //
    // function transform( wgLat ,wgLon)//纬度，经度
    // {
    //     var mars_point={lon:0,lat:0};
    //     // if (outOfChina(wgLat, wgLon))
    //     // {
    //     //     alert("outOfChina,true");
    //     //     mars_point.lat = wgLat;
    //     //     mars_point.lon = wgLon;
    //     //     return;
    //     // }
    //     alert("outOfChina,false");
    //     var dLat = transformLat(wgLon - 105.0, wgLat - 35.0);
    //     var dLon = transformLon(wgLon - 105.0, wgLat - 35.0);
    //     var radLat = wgLat / 180.0 * pi;
    //     var magic = Math.sin(radLat);
    //     magic = 1 - ee * magic * magic;
    //     var sqrtMagic = Math.sqrt(magic);
    //     dLat = (dLat * 180.0) / ((a * (1 - ee)) / (magic * sqrtMagic) * pi);
    //     dLon = (dLon * 180.0) / (a / sqrtMagic * Math.cos(radLat) * pi);
    //     console.log("dLat"+dLat);
    //     console.log("dLon"+dLon);
    //     mars_point.lat = wgLat + dLat;
    //     mars_point.lon = wgLon + dLon;
    //
    //     // alert("mars_point"+mars_point);
    //
    //     console.log("mars_point"+mars_point);
    //     return mars_point
    // }

    function transform (wgLat, wgLon) {
        wgLat=32.002452663811;
        wgLon=118.42470617016;
        var latlng = [];
        if(outOfChina(wgLat, wgLon)) {
            latlng[0] = wgLat;
            latlng[1] = wgLon;
            return latlng;
        }
        var dLat = transformLat(wgLon - 105.0, wgLat - 35.0);
        var dLon = transformLon(wgLon - 105.0, wgLat - 35.0);
        var radLat = wgLat / 180.0 * pi;
        var magic = Math.sin(radLat);
        magic = 1 - ee * magic * magic;
        var sqrtMagic = Math.sqrt(magic);
        dLat = (dLat * 180.0) / ((a * (1 - ee)) / (magic * sqrtMagic) * pi);
        dLon = (dLon * 180.0) / (a / sqrtMagic * Math.cos(radLat) * pi);
        console.log("dLat"+dLat);
        console.log("dLon"+dLon);
        latlng[0] = wgLat + dLat;
        latlng[1] = wgLon + dLon;
        return latlng;
    };

    function outOfChina(lat, lon) {
        if(lon < 72.004 || lon > 137.8347)
            return true;
        if(lat < 0.8293 || lat > 55.8271)
            return true;
        return false;
    };

    function transformLat(x, y) {
        alert("x"+x);
        alert("y"+y);
        var ret = -100.0 + 2.0 * x + 3.0 * y + 0.2 * y * y + 0.1 * x * y + 0.2 * Math.sqrt(Math.abs(x));
        ret += (20.0 * Math.sin(6.0 * x * pi) + 20.0 * Math.sin(2.0 * x * pi)) * 2.0 / 3.0;
        ret += (20.0 * Math.sin(y * pi) + 40.0 * Math.sin(y / 3.0 * pi)) * 2.0 / 3.0;
        ret += (160.0 * Math.sin(y / 12.0 * pi) + 320 * Math.sin(y * pi / 30.0)) * 2.0 / 3.0;
        return ret;
    };

    function transformLon(x, y) {
        var ret = 300.0 + x + 2.0 * y + 0.1 * x * x + 0.1 * x * y + 0.1 * Math.sqrt(Math.abs(x));
        ret += (20.0 * Math.sin(6.0 * x * pi) + 20.0 * Math.sin(2.0 * x * pi)) * 2.0 / 3.0;
        ret += (20.0 * Math.sin(x * pi) + 40.0 * Math.sin(x / 3.0 * pi)) * 2.0 / 3.0;
        ret += (150.0 * Math.sin(x / 12.0 * pi) + 300.0 * Math.sin(x / 30.0 * pi)) * 2.0 / 3.0;
        return ret;
    };







    function testjinwei(){
        var coordinates =
            [
                [
                    118.42470617016,
                    32.002452663811
                ],
                [
                    118.42240416987,
                    31.999171740697
                ],
                [
                    118.42835816944,
                    31.990510944098
                ],
                [
                    118.4316271702,
                    31.987811007391
                ],
                [
                    118.43066516975,
                    31.985502062007
                ],
                [
                    118.42470416961,
                    31.987241021024
                ],
                [
                    118.42162616955,
                    31.982623129556
                ],
                [
                    118.42393316986,
                    31.976266278513
                ],
                [
                    118.42758716968,
                    31.976840265014
                ],
                [
                    118.42657016988,
                    31.97406533017
                ],
                [
                    118.42340016976,
                    31.965519530764
                ],
                [
                    118.42297016958,
                    31.957012730381
                ],
                [
                    118.42206116974,
                    31.955573764602
                ],
                [
                    118.42192017017,
                    31.955611763246
                ],
                [
                    118.42149216965,
                    31.955354769242
                ],
                [
                    118.42168917019,
                    31.954983777902
                ],
                [
                    118.42105516981,
                    31.953979802026
                ],
                [
                    118.42028216951,
                    31.953240818965
                ],
                [
                    118.42022316996,
                    31.953079822552
                ],
                [
                    118.42031917021,
                    31.952843828627
                ],
                [
                    118.41993316953,
                    31.952570834988
                ],
                [
                    118.42005217025,
                    31.952391839344
                ],
                [
                    118.41835216966,
                    31.949698902076
                ],
                [
                    118.42758417021,
                    31.946994965814
                ],
                [
                    118.43431316973,
                    31.943906038171
                ],
                [
                    118.44065616946,
                    31.942356074725
                ],
                [
                    118.44146217027,
                    31.941727089347
                ],
                [
                    118.44757317019,
                    31.936952201228
                ],
                [
                    118.44850116941,
                    31.929217382754
                ],
                [
                    118.44622716961,
                    31.926942435496
                ],
                [
                    118.44516316995,
                    31.921829555504
                ],
                [
                    118.44430416944,
                    31.917703652334
                ],
                [
                    118.44488017009,
                    31.912310779081
                ],
                [
                    118.45026016955,
                    31.91172379285
                ],
                [
                    118.44526417023,
                    31.906725909492
                ],
                [
                    118.45121916963,
                    31.899398081674
                ],
                [
                    118.45621317019,
                    31.903622982457
                ],
                [
                    118.46255017007,
                    31.905340942389
                ],
                [
                    118.46677416981,
                    31.90398297376
                ],
                [
                    118.46850117016,
                    31.900320059632
                ],
                [
                    118.47460617024,
                    31.900304060174
                ],
                [
                    118.47406817012,
                    31.898957091712
                ],
                [
                    118.47406817012,
                    31.895272177807
                ],
                [
                    118.47406717029,
                    31.890677285809
                ],
                [
                    118.46999216962,
                    31.886261389169
                ],
                [
                    118.46806616997,
                    31.881784493672
                ],
                [
                    118.46725816951,
                    31.882067487147
                ],
                [
                    118.46618817,
                    31.882441478309
                ],
                [
                    118.46479516956,
                    31.882859468519
                ],
                [
                    118.46251917011,
                    31.883394456179
                ],
                [
                    118.46052916999,
                    31.883691449336
                ],
                [
                    118.46004416957,
                    31.883763447279
                ],
                [
                    118.45851416976,
                    31.884507430351
                ],
                [
                    118.45525816942,
                    31.884939420201
                ],
                [
                    118.44943316972,
                    31.886340387215
                ],
                [
                    118.44804816967,
                    31.886792376258
                ],
                [
                    118.44739616975,
                    31.887447361099
                ],
                [
                    118.4461331699,
                    31.888715331921
                ],
                [
                    118.44495117024,
                    31.889411315187
                ],
                [
                    118.44362717029,
                    31.889791306663
                ],
                [
                    118.44118117006,
                    31.890255295501
                ],
                [
                    118.43955116979,
                    31.890768283765
                ],
                [
                    118.43853216944,
                    31.891433267744
                ],
                [
                    118.43751316999,
                    31.892558241284
                ],
                [
                    118.43588716992,
                    31.894835188202
                ],
                [
                    118.43384216955,
                    31.895598170203
                ],
                [
                    118.4264161699,
                    31.898370105718
                ],
                [
                    118.41583017016,
                    31.901726026567
                ],
                [
                    118.41504116997,
                    31.902018020301
                ],
                [
                    118.41376616953,
                    31.902654005159
                ],
                [
                    118.41169316956,
                    31.903587983035
                ],
                [
                    118.41036617014,
                    31.904748956289
                ],
                [
                    118.4090991701,
                    31.906358918414
                ],
                [
                    118.40725217009,
                    31.908723862636
                ],
                [
                    118.40653116967,
                    31.909516843988
                ],
                [
                    118.40578616985,
                    31.910336825282
                ],
                [
                    118.40385116999,
                    31.912295779112
                ],
                [
                    118.40375616955,
                    31.91236977771
                ],
                [
                    118.40198516972,
                    31.913749745105
                ],
                [
                    118.40032716986,
                    31.915020715603
                ],
                [
                    118.3987221697,
                    31.916174688125
                ],
                [
                    118.39704717012,
                    31.916651677385
                ],
                [
                    118.39584016945,
                    31.916889671265
                ],
                [
                    118.39334817009,
                    31.916617677991
                ],
                [
                    118.39173316989,
                    31.916282685421
                ],
                [
                    118.39130816974,
                    31.916149688465
                ],
                [
                    118.38657517019,
                    31.916281685771
                ],
                [
                    118.38409116943,
                    31.916307685045
                ],
                [
                    118.38178016982,
                    31.916941670224
                ],
                [
                    118.37669016989,
                    31.920967576086
                ],
                [
                    118.37581617021,
                    31.922293544479
                ],
                [
                    118.37558716988,
                    31.922639536468
                ],
                [
                    118.37378816955,
                    31.925000481029
                ],
                [
                    118.37239816948,
                    31.926439447542
                ],
                [
                    118.37106017019,
                    31.927478423419
                ],
                [
                    118.36824417007,
                    31.928928389247
                ],
                [
                    118.36616716991,
                    31.929976364529
                ],
                [
                    118.36455917028,
                    31.930785345911
                ],
                [
                    118.36275116973,
                    31.931145336903
                ],
                [
                    118.36140417022,
                    31.931661325167
                ],
                [
                    118.36013516962,
                    31.932304310333
                ],
                [
                    118.35959616967,
                    31.932823298125
                ],
                [
                    118.35913516954,
                    31.933910272682
                ],
                [
                    118.35915217016,
                    31.934999247002
                ],
                [
                    118.35970916965,
                    31.937113197691
                ],
                [
                    118.36053516966,
                    31.939115150103
                ],
                [
                    118.36142216976,
                    31.940541117136
                ],
                [
                    118.36224816977,
                    31.941560093278
                ],
                [
                    118.36332616967,
                    31.942642067566
                ],
                [
                    118.36401316976,
                    31.9437260423
                ],
                [
                    118.36496916946,
                    31.945151008583
                ],
                [
                    118.36524717019,
                    31.94635698017
                ],
                [
                    118.36506516972,
                    31.947673949927
                ],
                [
                    118.36488216942,
                    31.949847898514
                ],
                [
                    118.36463016952,
                    31.951454860761
                ],
                [
                    118.36457816965,
                    31.952942826177
                ],
                [
                    118.36450917005,
                    31.954259795279
                ],
                [
                    118.36452716959,
                    31.95535176928
                ],
                [
                    118.36467516973,
                    31.956837734891
                ],
                [
                    118.36476116994,
                    31.958323700088
                ],
                [
                    118.36584817006,
                    31.959980661047
                ],
                [
                    118.36701317,
                    31.961972614517
                ],
                [
                    118.36864716957,
                    31.963794571734
                ],
                [
                    118.36981216951,
                    31.965045542453
                ],
                [
                    118.37075916989,
                    31.966127516786
                ],
                [
                    118.37232416986,
                    31.967437486074
                ],
                [
                    118.37354016986,
                    31.968463461535
                ],
                [
                    118.37394917011,
                    31.968738455627
                ],
                [
                    118.37496517009,
                    31.969423439574
                ],
                [
                    118.37571317027,
                    31.970507413779
                ],
                [
                    118.37613917025,
                    31.972332370975
                ],
                [
                    118.37601717005,
                    31.974280325219
                ],
                [
                    118.37510516983,
                    31.976353276574
                ],
                [
                    118.37423617017,
                    31.977615247088
                ],
                [
                    118.37316816941,
                    31.978707221473
                ],
                [
                    118.37216817023,
                    31.97991719327
                ],
                [
                    118.37164716982,
                    31.981237161695
                ],
                [
                    118.37145617003,
                    31.981871147019
                ],
                [
                    118.37139516993,
                    31.982502132698
                ],
                [
                    118.37152516962,
                    31.982897122682
                ],
                [
                    118.37247316983,
                    31.98387010023
                ],
                [
                    118.37409817007,
                    31.983972097644
                ],
                [
                    118.37592216961,
                    31.984360088936
                ],
                [
                    118.37592316944,
                    31.984360088936
                ],
                [
                    118.37861616954,
                    31.984741079396
                ],
                [
                    118.37989316963,
                    31.984672081019
                ],
                [
                    118.38137016974,
                    31.98489307588
                ],
                [
                    118.38293317006,
                    31.985400064007
                ],
                [
                    118.38434917007,
                    31.986477038654
                ],
                [
                    118.38502716994,
                    31.98722002173
                ],
                [
                    118.38585217012,
                    31.988870983021
                ],
                [
                    118.38675616994,
                    31.991674916944
                ],
                [
                    118.38725116951,
                    31.994538850013
                ],
                [
                    118.38725616953,
                    31.994898841042
                ],
                [
                    118.38727716945,
                    31.996539802825
                ],
                [
                    118.38701717006,
                    31.998031767725
                ],
                [
                    118.38642717006,
                    31.999474734077
                ],
                [
                    118.38615716972,
                    32.000044720602
                ],
                [
                    118.38581816978,
                    32.00041171163
                ],
                [
                    118.38558416943,
                    32.00087970088
                ],
                [
                    118.38537616992,
                    32.001764679633
                ],
                [
                    118.38521117006,
                    32.002434664136
                ],
                [
                    118.38500216983,
                    32.003319643116
                ],
                [
                    118.38502916959,
                    32.00366963554
                ],
                [
                    118.38504016946,
                    32.00379263234
                ],
                [
                    118.38506316992,
                    32.004047626649
                ],
                [
                    118.3851151698,
                    32.004626612555
                ],
                [
                    118.3854891699,
                    32.005591590333
                ],
                [
                    118.38581117011,
                    32.006546567471
                ],
                [
                    118.38592417009,
                    32.007443546258
                ],
                [
                    118.3860101694,
                    32.008536520713
                ],
                [
                    118.38585416977,
                    32.009430500117
                ],
                [
                    118.38581117011,
                    32.010230481049
                ],
                [
                    118.38575917023,
                    32.011131460153
                ],
                [
                    118.38569817013,
                    32.012031438647
                ],
                [
                    118.38565516958,
                    32.012931417445
                ],
                [
                    118.38557716976,
                    32.013296409209
                ],
                [
                    118.38540316968,
                    32.014185388111
                ],
                [
                    118.38550716944,
                    32.014613378343
                ],
                [
                    118.38569916996,
                    32.015498357046
                ],
                [
                    118.38612417011,
                    32.016240339501
                ],
                [
                    118.38660216996,
                    32.016924323642
                ],
                [
                    118.3870271701,
                    32.017513309662
                ],
                [
                    118.38757517028,
                    32.018283292039
                ],
                [
                    118.38797416958,
                    32.018680282647
                ],
                [
                    118.38803516968,
                    32.018746281159
                ],
                [
                    118.39020616955,
                    32.019181271026
                ],
                [
                    118.39109517021,
                    32.019172271309
                ],
                [
                    118.39512016975,
                    32.019129272057
                ],
                [
                    118.39512116958,
                    32.019129272057
                ],
                [
                    118.39661316976,
                    32.01965725928
                ],
                [
                    118.39730016984,
                    32.020828231757
                ],
                [
                    118.39684916976,
                    32.023883160245
                ],
                [
                    118.39456516991,
                    32.026241105205
                ],
                [
                    118.38806216945,
                    32.027871066152
                ],
                [
                    118.38747116962,
                    32.028057062009
                ],
                [
                    118.38648116958,
                    32.028373054489
                ],
                [
                    118.38596017007,
                    32.028876043068
                ],
                [
                    118.38525717009,
                    32.02955502685
                ],
                [
                    118.38457116983,
                    32.030236010794
                ],
                [
                    118.38418017002,
                    32.030572002711
                ],
                [
                    118.38344216987,
                    32.031217987933
                ],
                [
                    118.38305117006,
                    32.031620978348
                ],
                [
                    118.38238216952,
                    32.032318962152
                ],
                [
                    118.38202616987,
                    32.033153942349
                ],
                [
                    118.38201216962,
                    32.033236940152
                ],
                [
                    118.39027816952,
                    32.03396192319
                ],
                [
                    118.39509116944,
                    32.035141895247
                ],
                [
                    118.39654716963,
                    32.036597861149
                ],
                [
                    118.40521716977,
                    32.037754833905
                ],
                [
                    118.40656616983,
                    32.042088732291
                ],
                [
                    118.40868317017,
                    32.037561838978
                ],
                [
                    118.4143631701,
                    32.039388795627
                ],
                [
                    118.41320917003,
                    32.043916689
                ],
                [
                    118.4165191699,
                    32.042645719106
                ],
                [
                    118.41630217017,
                    32.042433723838
                ],
                [
                    118.41685216999,
                    32.041766739567
                ],
                [
                    118.42447716983,
                    32.044306680466
                ],
                [
                    118.42350617006,
                    32.046413630248
                ],
                [
                    118.42879716983,
                    32.04592664205
                ],
                [
                    118.43062516957,
                    32.053244469755
                ],
                [
                    118.43264516982,
                    32.053049474618
                ],
                [
                    118.43149016993,
                    32.045249658133
                ],
                [
                    118.43812516974,
                    32.048033592612
                ],
                [
                    118.43903117011,
                    32.048661577496
                ],
                [
                    118.43874216951,
                    32.049554556977
                ],
                [
                    118.44129716951,
                    32.05131951509
                ],
                [
                    118.44151917017,
                    32.05116851882
                ],
                [
                    118.4418091697,
                    32.050806527096
                ],
                [
                    118.44199117017,
                    32.051103520536
                ],
                [
                    118.44259617025,
                    32.051465511847
                ],
                [
                    118.44300316995,
                    32.051610508672
                ],
                [
                    118.44303516974,
                    32.05270148291
                ],
                [
                    118.44014516999,
                    32.057661365645
                ],
                [
                    118.43581816943,
                    32.057186377381
                ],
                [
                    118.43562616981,
                    32.061039286685
                ],
                [
                    118.43947316998,
                    32.065849173494
                ],
                [
                    118.44378016955,
                    32.066935147762
                ],
                [
                    118.44652416971,
                    32.066732152802
                ],
                [
                    118.45109416995,
                    32.071296044887
                ],
                [
                    118.45036316948,
                    32.071897031131
                ],
                [
                    118.44293416946,
                    32.076823915107
                ],
                [
                    118.44264616958,
                    32.078461876333
                ],
                [
                    118.44100416961,
                    32.078370878622
                ],
                [
                    118.44117517021,
                    32.077199906119
                ],
                [
                    118.44273916946,
                    32.075417948397
                ],
                [
                    118.44195517019,
                    32.07478896276
                ],
                [
                    118.43831916991,
                    32.078410877711
                ],
                [
                    118.43566116997,
                    32.078181883264
                ],
                [
                    118.43691916979,
                    32.075241952605
                ],
                [
                    118.43645716983,
                    32.074945959333
                ],
                [
                    118.43500917004,
                    32.077504899017
                ],
                [
                    118.43079416962,
                    32.076398925464
                ],
                [
                    118.43129516994,
                    32.074182976949
                ],
                [
                    118.43066516975,
                    32.074040980771
                ],
                [
                    118.43009616966,
                    32.075980935204
                ],
                [
                    118.42757116979,
                    32.076457923673
                ],
                [
                    118.41721716986,
                    32.073245999663
                ],
                [
                    118.41415016967,
                    32.069156095902
                ],
                [
                    118.4142331695,
                    32.066845150291
                ],
                [
                    118.41187616986,
                    32.066303163012
                ],
                [
                    118.40973517013,
                    32.070525063509
                ],
                [
                    118.40337216941,
                    32.068666106887
                ],
                [
                    118.40953616994,
                    32.060974287799
                ],
                [
                    118.40784717012,
                    32.0595223221
                ],
                [
                    118.40182216951,
                    32.067213141196
                ],
                [
                    118.39745916985,
                    32.065433182822
                ],
                [
                    118.39838017029,
                    32.063438230029
                ],
                [
                    118.3975831697,
                    32.063153236483
                ],
                [
                    118.39654816946,
                    32.065574179879
                ],
                [
                    118.39143816944,
                    32.062778245907
                ],
                [
                    118.3943411696,
                    32.059476323161
                ],
                [
                    118.39346117007,
                    32.059059332819
                ],
                [
                    118.39211217001,
                    32.060705294637
                ],
                [
                    118.38808016989,
                    32.057407371742
                ],
                [
                    118.38365416959,
                    32.059356326118
                ],
                [
                    118.38183316952,
                    32.058403348339
                ],
                [
                    118.3818321697,
                    32.058402348714
                ],
                [
                    118.38172416974,
                    32.058609343902
                ],
                [
                    118.38129017027,
                    32.059433324562
                ],
                [
                    118.38084716968,
                    32.06025330471
                ],
                [
                    118.38096916988,
                    32.060685295028
                ],
                [
                    118.38091717,
                    32.061169283555
                ],
                [
                    118.38076916987,
                    32.061670271673
                ],
                [
                    118.3807951698,
                    32.06207526195
                ],
                [
                    118.38078616958,
                    32.06290024294
                ],
                [
                    118.38090816978,
                    32.063249234256
                ],
                [
                    118.38115116946,
                    32.063551227782
                ],
                [
                    118.38301017006,
                    32.064980193867
                ],
                [
                    118.38354917001,
                    32.065228187711
                ],
                [
                    118.38404416958,
                    32.065292186309
                ],
                [
                    118.38444416961,
                    32.065209188643
                ],
                [
                    118.38481716988,
                    32.065043192324
                ],
                [
                    118.38546016958,
                    32.064362208477
                ],
                [
                    118.38580716991,
                    32.064176212538
                ],
                [
                    118.38628516977,
                    32.06413521375
                ],
                [
                    118.38726716941,
                    32.064111214359
                ],
                [
                    118.38820717011,
                    32.064306209519
                ],
                [
                    118.38904516981,
                    32.064822197376
                ],
                [
                    118.38972216986,
                    32.065660178134
                ],
                [
                    118.39062016983,
                    32.066744152534
                ],
                [
                    118.39109416948,
                    32.067607131957
                ],
                [
                    118.39132316981,
                    32.068436112116
                ],
                [
                    118.39150017026,
                    32.070010075353
                ],
                [
                    118.39164716968,
                    32.070693059516
                ],
                [
                    118.3916641703,
                    32.071166047944
                ],
                [
                    118.39186616996,
                    32.071783033552
                ],
                [
                    118.39240817028,
                    32.073265998808
                ],
                [
                    118.39251617024,
                    32.073518992601
                ],
                [
                    118.39253816998,
                    32.073656989474
                ],
                [
                    118.39270316984,
                    32.074339973801
                ],
                [
                    118.39268617012,
                    32.074732964095
                ],
                [
                    118.39243417022,
                    32.075209952987
                ],
                [
                    118.39192217004,
                    32.075706941045
                ],
                [
                    118.39108916946,
                    32.076449923685
                ],
                [
                    118.39077616947,
                    32.076987910987
                ],
                [
                    118.39050716985,
                    32.077712894531
                ],
                [
                    118.39050716985,
                    32.078354878981
                ],
                [
                    118.39084616979,
                    32.078893866651
                ],
                [
                    118.39152316983,
                    32.079327856005
                ],
                [
                    118.39281716964,
                    32.079627849406
                ],
                [
                    118.39457917015,
                    32.079918841989
                ],
                [
                    118.3957771697,
                    32.079919842139
                ],
                [
                    118.39577816953,
                    32.079919842139
                ],
                [
                    118.39638517015,
                    32.07958785009
                ],
                [
                    118.39719216989,
                    32.078947864727
                ],
                [
                    118.39827716946,
                    32.077698894365
                ],
                [
                    118.39897117012,
                    32.077064909049
                ],
                [
                    118.39940816996,
                    32.076947912037
                ],
                [
                    118.3999791697,
                    32.077000911079
                ],
                [
                    118.40043416999,
                    32.077180906492
                ],
                [
                    118.40080416988,
                    32.077519898627
                ],
                [
                    118.40096316989,
                    32.077963888615
                ],
                [
                    118.40102616964,
                    32.078566873987
                ],
                [
                    118.40100516972,
                    32.079295857057
                ],
                [
                    118.4009311701,
                    32.080078838572
                ],
                [
                    118.40054017029,
                    32.081252811141
                ],
                [
                    118.40043416999,
                    32.081833797081
                ],
                [
                    118.40048716969,
                    32.082277786666
                ],
                [
                    118.40059317,
                    32.082410783401
                ],
                [
                    118.40067016999,
                    32.082642778272
                ],
                [
                    118.40090816964,
                    32.082847773158
                ],
                [
                    118.40121916998,
                    32.082925771731
                ],
                [
                    118.4015981701,
                    32.082914771955
                ],
                [
                    118.40247616998,
                    32.082823774111
                ],
                [
                    118.40316717027,
                    32.082718776018
                ],
                [
                    118.40422917028,
                    32.082486782101
                ],
                [
                    118.40473817009,
                    32.082447782636
                ],
                [
                    118.40595016989,
                    32.082537780732
                ],
                [
                    118.40692116966,
                    32.082662777645
                ],
                [
                    118.4075291701,
                    32.082868772605
                ],
                [
                    118.4081271696,
                    32.083261763531
                ],
                [
                    118.40853517003,
                    32.083697752915
                ],
                [
                    118.41086116971,
                    32.08957261484
                ],
                [
                    118.41104317018,
                    32.089813609419
                ],
                [
                    118.4111901696,
                    32.09000860456
                ],
                [
                    118.41149417027,
                    32.090153601166
                ],
                [
                    118.4119101702,
                    32.090049603923
                ],
                [
                    118.41222317019,
                    32.089821608997
                ],
                [
                    118.4134111697,
                    32.0884866408
                ],
                [
                    118.41432117027,
                    32.087948653441
                ],
                [
                    118.41496317015,
                    32.087761657467
                ],
                [
                    118.41578716961,
                    32.087678659649
                ],
                [
                    118.41665416962,
                    32.087738658254
                ],
                [
                    118.41773016987,
                    32.087920653958
                ],
                [
                    118.42073017012,
                    32.08835664395
                ],
                [
                    118.42157916969,
                    32.088418642225
                ],
                [
                    118.42406716975,
                    32.088281645624
                ],
                [
                    118.42406816958,
                    32.088281645624
                ],
                [
                    118.42742216983,
                    32.088423641753
                ],
                [
                    118.42884316986,
                    32.088669636592
                ],
                [
                    118.42884416968,
                    32.088669636592
                ],
                [
                    118.42927717023,
                    32.088814633039
                ],
                [
                    118.42948516974,
                    32.089105626054
                ],
                [
                    118.42963217006,
                    32.08947561726
                ],
                [
                    118.4296501696,
                    32.090076603475
                ],
                [
                    118.42960617012,
                    32.091567568194
                ],
                [
                    118.42973616981,
                    32.092229552305
                ],
                [
                    118.42997916949,
                    32.092539545341
                ],
                [
                    118.43029116966,
                    32.092621543299
                ],
                [
                    118.43064616948,
                    32.092642542783
                ],
                [
                    118.43118416961,
                    32.092474546778
                ],
                [
                    118.43153916944,
                    32.092092555329
                ],
                [
                    118.43216316977,
                    32.091139577766
                ],
                [
                    118.43271716979,
                    32.090745587198
                ],
                [
                    118.43331517019,
                    32.090599590737
                ],
                [
                    118.43395617025,
                    32.090702588082
                ],
                [
                    118.43447616993,
                    32.090990581846
                ],
                [
                    118.43480516982,
                    32.091404571861
                ],
                [
                    118.43499616962,
                    32.092087556002
                ],
                [
                    118.43529916957,
                    32.092707541227
                ],
                [
                    118.43594116945,
                    32.093368525445
                ],
                [
                    118.43685017019,
                    32.094174506521
                ],
                [
                    118.43774317015,
                    32.094793492055
                ],
                [
                    118.43868717015,
                    32.095330479464
                ],
                [
                    118.43959617,
                    32.095702470533
                ],
                [
                    118.44053216961,
                    32.096010463252
                ],
                [
                    118.44270616985,
                    32.096287456578
                ],
                [
                    118.44334716991,
                    32.096409453798
                ],
                [
                    118.44344817019,
                    32.096479452453
                ],
                [
                    118.44345917006,
                    32.096463452939
                ],
                [
                    118.44749316983,
                    32.091667565905
                ],
                [
                    118.44841017007,
                    32.089552615459
                ],
                [
                    118.45260217002,
                    32.079876843259
                ],
                [
                    118.45325516978,
                    32.078369878455
                ],
                [
                    118.45748017024,
                    32.076626919624
                ],
                [
                    118.45935516983,
                    32.073747987311
                ],
                [
                    118.46285616949,
                    32.068335114595
                ],
                [
                    118.45690216993,
                    32.053714458786
                ],
                [
                    118.46312417018,
                    32.043472699728
                ],
                [
                    118.46197517014,
                    32.036312867774
                ],
                [
                    118.46142416959,
                    32.034503910902
                ],
                [
                    118.46101117004,
                    32.033869925488
                ],
                [
                    118.46053917004,
                    32.033397936808
                ],
                [
                    118.4608751696,
                    32.033191941612
                ],
                [
                    118.46059116991,
                    32.032755951353
                ],
                [
                    118.46252917015,
                    32.03151498096
                ],
                [
                    118.45958116979,
                    32.028821044429
                ],
                [
                    118.46368116968,
                    32.026215105064
                ],
                [
                    118.46867517024,
                    32.027550074419
                ],
                [
                    118.4726111701,
                    32.025036132982
                ],
                [
                    118.4757841697,
                    32.025944111836
                ],
                [
                    118.47827616996,
                    32.026657095066
                ],
                [
                    118.48096317022,
                    32.020485240388
                ],
                [
                    118.48029016947,
                    32.01615334195
                ],
                [
                    118.47846716976,
                    32.016158341619
                ],
                [
                    118.47712216989,
                    32.01086546645
                ],
                [
                    118.48029016947,
                    32.007196552205
                ],
                [
                    118.47844316947,
                    32.002780655966
                ],
                [
                    118.47731316969,
                    32.000077719339
                ],
                [
                    118.47443316999,
                    32.001048696985
                ],
                [
                    118.47664016984,
                    31.992566896274
                ],
                [
                    118.4757761702,
                    31.98958396591
                ],
                [
                    118.47057516995,
                    31.985922051766
                ],
                [
                    118.46678317003,
                    31.988512991206
                ],
                [
                    118.46044716997,
                    31.98775800928
                ],
                [
                    118.4584141702,
                    31.989725962816
                ],
                [
                    118.4465441698,
                    32.001209693067
                ],
                [
                    118.44489017014,
                    32.002809655073
                ],
                [
                    118.43566416944,
                    31.996470804182
                ],
                [
                    118.43028216944,
                    31.995899817991
                ],
                [
                    118.42932116971,
                    32.001484686535
                ],
                [
                    118.42470617016,
                    32.002452663811,
                    0
                ]
            ]

        alert("coordinates的长度"+coordinates.length);

        // 118.42470617016,
        //     32.002452663811

        // transform(118.42470617016 ,32.002452663811);
        //dLon-0.0014081541336107561
        //dLat0.008195005881407596

        var a = 32.002452;
        var b = 118.424706;
        transform(a,b);
        // transform(32.002452663811,118.42470617016);
        //dLon0.005455650989381792
        //dLat-0.0018559211542288775


    }

</script>
</html>